.heading {
    color: blue;
    text-align: center;
}

body {
    background-color: orange;
}

#cardbox {
    margin: 20px;
    padding: 20px;
    text-align: center;
    border: solid black;
}

.about {
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.skill {
    margin: 20px;
    padding: 10px;
}

.education-table table {
    margin: 20px;
    padding: 10px;
    border: 5px solid black;
}

.education-table th,
.education-table td {
    border: 2px solid black;
    padding: 15px;

}
.education-table{
    margin: 20px;
    padding: 20px;
}
.footer{
    text-align: center;
}
.img{
    width: 150px;
    height: auto;
}
.logo{
    width:200px;
}